@font-face {
    font-family: azonix;
    src: url(Azonix.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: azonix;
}


html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding: 40px 90px;
}

#left{
    width: 40%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}


#left h2{
    /* font-size: 70px; */
    font-size: 5vw;
    font-weight: 100;
    padding: 30px 30px;
    /* line-height: 90px; */
    line-height: 14vh;
    list-style: none;
    position: relative;
    cursor: pointer;
}

h2::before{
    content: "";
        background-color: rgb(37, 40, 40);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    border-radius: 10px;
    width: 0%;
    margin-bottom: 40px;
    transition: 0.3s ease-in-out;
}

h2:hover::before{
    content: "";
        background-color: rgb(37, 40, 40);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 40px;
}

#colors{
    width: 100%;
    height: 59%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    
}

#shit{
    /* background-color: aquamarine; */
    width: fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-radius: 30px;
    margin-top: 5px;
    margin-bottom: 130px;
}

#shit h5{
    /* font-size: 20px; */
    font-size: 1.5vw;
    font-weight: 100;
    margin-right: 10px;

}

#color1{
    width: 20px;
    height: 20px;
    background-color:#77502F;
    border-radius: 50%;
    margin-right: 3px;
}

#shit:hover{
    background-color: #9b7255;
    transition: ease 0.5s;
    opacity: .5;
}

#color2{
    width: 20px;
    height: 20px;
    background-color: #BF9479;
    border-radius: 50%;
}

#colors h3{
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0px 20px;
}

h3::before{
    content: "";
    background-color: rgb(37, 40, 40);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0%;
    margin-bottom: 155px;
    transition: 0.3s ease-in-out;
}

h3:hover::before{
    content: "";
    background-color: rgb(37, 40, 40);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width:52.6%;
    margin-bottom: 155px;
}


#colors p{
    /* font-size: 10px; */
    font-size: .74vw;
    padding: 0px 20px;
    /* line-height: 20px; */
    line-height: 3.1vh;
    text-transform: lowercase;
}

#right{
    margin-top: 120px;
    margin-right: 140px;
    width: 35%;
    height: 86%;
    /* background-color: yellow; */

}

 #top{
    width: 100%;
    height: 40px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items:center ;
}

#top h4{
    margin-left: 15px;
    font-weight: 100;
}

#top h5 i{
    color: rgb(255, 149, 0);
}

#right img{
    width: 100%;
    height: 92%;
    object-fit: cover;
}

#circle{
    width: 140px;
    position: absolute;
    height: 140px;
    background-color: rgb(38, 38, 38);
    border-radius: 50%;
    display: flex;
    right: 11.5%;
    top: 40%;
    align-items: center;
    justify-content: center;
    /* z-index: -1; */
    
}

#circle::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    transition: all ease .5s;
    /* z-index: -1; */
}

#circle:hover::after{
    transform: scale(1);
    
}

#circle:hover h5{
    color: rgb(38, 38, 38);
}


#circle h5{
    font-size: 12px;
    color: #fff;
    z-index: 1;
    transition: all ease .5s;
    
    font-weight: 100;
}

#rotated{
    position: absolute;
    left: 50%;
    width: fit-content;
    bottom: 0%;
    /* background-color: red; */
    rotate: -90deg;
    transform-origin: 0 0;
    /* margin-bottom: 10px; */
}

#right h1{
    font-weight: 100;
    color: #000000;
}


@media (max-width:600px) {
    #main{
        width: 100%;
        height: 100%;
        /* background-color: red; */
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 40px;
    }

    #left{
        width: 100%;
        height: 50%;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
    }
    
    
    #left h2{
        /* font-size: 70px; */
        font-size: 4vw;
        font-weight: 900;
        padding: 5px 10px;
        /* line-height: 90px; */
        line-height: 4vh;
        list-style: none;
        position: relative;
        cursor: pointer;
    }
    
    h2::before{
        content: "";
            background-color: rgb(37, 40, 40);
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        border-radius: 10px;
        width: 0%;
        margin-bottom: 10px;
        transition: 0.3s ease-in-out;
    }
    
    h2:hover::before{
        content: "";
            background-color: rgb(37, 40, 40);
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        border-radius: 10px;
        width: 100%;
        margin-bottom: 10px;
    }
    
    #colors{
        width: 100%;
        height: 59%;
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        
    }
    
    #shit{
        /* background-color: aquamarine; */
        width: fit-content;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid;
        border-radius: 30px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    
    #shit h5{
        /* font-size: 20px; */
        font-size: 3vw;
        font-weight: 100;
        /* margin-right: 3px; */
    
    }
    
    #color1{
        width: 10px;
        height: 10px;
        background-color:#77502F;
        border-radius: 50%;
        margin-right: 3px;
    }
    
    #shit:hover{
        background-color: #9b7255;
        transition: ease 0.5s;
        opacity: .5;
    }
    
    #color2{
        width: 10px;
        height: 10px;
        background-color: #BF9479;
        border-radius: 50%;
    }
    
    #colors h3{
        /* margin-top: 2px; */
        /* margin-bottom: 10px; */
        padding: 0px 10px;
    }
    
    h3::before{
        content: "";
        background-color: rgb(37, 40, 40);
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 0%;
        margin-bottom: 155px;
        transition: 0.3s ease-in-out;
    }
    
    h3:hover::before{
        content: "";
        background-color: rgb(37, 40, 40);
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width:52.6%;
        margin-bottom: 155px;
    }
    
    
    #colors p{
        /* font-size: 10px; */
        font-size: 2vw;
        padding: 0px 10px;
        /* line-height: 20px; */
        line-height: 3.1vh;
        text-transform: lowercase;
    }
    
    #right{
        margin-top: 20px;
        margin-right: 40px;
        width: 100%;
        height: 86%;
        /* background-color: yellow; */
    
    }
    
     #top{
        width: 100%;
        height: 40px;
        /* background-color: red; */
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        align-items:center ;
    }
    
    #top h4{
        margin-left: 10px;
        font-weight: 100;
    }
    
    #top h5 i{
        color: rgb(255, 149, 0);
    }
    
    #right img{
        width: 100%;
        height: 92%;
        object-fit: cover;
    }
    
    #circle{
        width: 75px;
        position: absolute;
        height: 75px;
        background-color: rgb(38, 38, 38);
        border-radius: 50%;
        display: flex;
        right: 2%;
        top: 65%;
        align-items: center;
        justify-content: center;
        
    }
    
    #circle h5{
        font-size: 6px;
        color: #fff;
        font-weight: 100;
    }
    
    #rotated{
        position: absolute;
        left: 5%;
        width: fit-content;
        bottom: 0%;
        /* background-color: red; */
        rotate: -90deg;
        transform-origin: 0 0;
        /* margin-bottom: 10px; */
    }
    
    #right h1{
        font-weight: 100;
        font-size: 20px;
        color: #000000;
    }
}